html, body, * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.8;
}

body
{
    font-family: sans-serif;
    background-color: yellowgreen;
    line-height: 1.8;
}

.operation__agreement {
    width: 60%;
    margin: 0 auto;
    padding: 50px 150px;
    background-color: white;
}

.title {
    margin: 50px auto;
    text-align: center;
    font-weight: 700;
}

.content__param {
    text-indent: 50px;
    margin: 25px 0;
}

/* operation agreement section  */

.header {
    margin: 80px auto;
    padding: 40px auto;
    
}
.header .header__title {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
.header .header__title .header__title--1 {
    margin-bottom: 0;
}

/* End of operation agreement section  */

/* recital  */
.recital .recital__content {
    text-indent: 50px;
}
/* End of recital  */



/* AGREEMENTS */


/* END OF  AGREEMENTS */

.member__name {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 30%;
    margin-left: 60%;

}