html, body, * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.8;
    box-sizing: border-box;
}

body
{
    font-family: sans-serif;
    background-color: yellowgreen;
    line-height: 1.8;
}
.ss4__form {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 300px;
}
.header {
    padding: 50px 150px;

}

.header .header__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}
.header .header__content {
    margin: 20px 0;
    font-weight: 700;
}
.content__param ul {
    padding-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}




.vertical__row {
    writing-mode: vertical-rl;
    transform: scale(-1);
    padding-right: 40px;
    text-align: center;
} 

.use__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(80, auto);
    grid-auto-rows: minmax(min-content, max-content);
}
.grid-item {
    border: 1px solid black;


}
.grid-item-1 {
    grid-column: 1/3;
    border-left: none;
    border-top: none;
}
.grid-item-2 {
    grid-column: 3/10;
    border-top: none;
}
.grid-item-3 {
    grid-column: 10/end;
    border-top: none;
    border-bottom: 1px solid black;
    border-right: none;
}

.grid-item-4 {
    grid-row: 2/8;
    border-right: none;
}
.grid-item-5, .grid-item-12 {
    grid-column: 2/end;
    border-right: none;
}
.grid-item-6, .grid-item-8, .grid-item-10 {
    grid-column: 2/8;
}
.grid-item-7, .grid-item-9, .grid-item-11 {
    grid-column: 8/end;
    border-right: none;
}
.grid-item-13 {
    grid-column: 2/9;
}
.grid-item-14, .grid-item-16 {
    grid-column: 9/end;
    border-right: none;
}
.grid-item-15 {
    grid-column: 1/9;
    border-left: none;
}

.grid-item-19 {
    grid-column: 1/7;
    border-left: none;
}
.grid-item-20 {
    grid-column: 7/10;
}
.grid-item-21 {
    grid-column: 10/end;
    border-right: none;
}
.grid-item-23 {
    grid-column: 1/7;
    grid-row: 13/15;
    border-left: none;
}
.grid-item-24 {
    grid-column: 7/end;
    border-right: none;
}
.grid-item-26 {
    grid-column: 1/7;
    grid-row: 15/18;
    border-left: none;
}
.grid-item-25 {
    grid-column: 7/end;
    grid-row: 14/18;
    border-right: none;
}

.grid-item-28 {
    grid-column: 1/3;
    grid-row: 17/18;
    border-top: none;
    text-align: center;
    border-left: none;
    
}
.grid-item-29 {
    grid-column: 3/5;
    grid-row: 17/18;
    border-top: none;
    text-align: center;
    
}
.grid-item-30 {
    grid-column: 5/7;
    grid-row: 17/18;
    border-top: none;
    text-align: center;
   
}
.grid-item-31, .grid-item-33, .grid-item-32, .grid-item-27, .grid-item-17, .grid-item-18, .grid-item-22  {
    grid-column: 1/end;
    border-right: none;
    border-left: none;
}

.grid-item-34 {
    grid-row: 22/25;
    border-left: none;
}
.grid-item-35 {
    grid-column: 2/end;
    border-right: none;
}
.grid-item-36, .grid-item-38 {
    grid-column: 2/9;
}
.grid-item-37 {
    grid-column: 9/end;
    text-align: center;
    border-right: none;
}

.grid-item-39 {
    grid-column: 9/end;
    text-align: center;
    border-right: none;
}
.grid-item-40 {
    grid-column: 1/9;
    border-left: none;
}
.grid-item-41 {
    grid-column: 9/end;
    text-align: center;
    border-right: none;
}
.grid-item-42 {
    grid-column: 1/9;
    border-left: none;
    display: flex;
    justify-content: space-between;
}
.grid-item-42 .date {
    padding-right: 150px;
}
.grid-item-43 {
    grid-column: 9/end;
    text-align: center;
    border-right: none;
}
.grid-item-44 {
    grid-column: 1/end;
    border-left: none;
    display: flex;
    justify-content: space-between;
    border-right: none;
}



.checkboxes__context {
    display: flex;
    justify-content: space-between;
}
.checkboxes__context--2--up {
    display: flex;
    align-self: flex-start;
}

.under__line {
    border-bottom: 1px solid black;
    padding-left: 80px;
}
.under__line__100 {
    border-bottom: 1px solid black;
    padding-left: 95%;
}
.checkboxes__context--22 {
    justify-content: start;
}




